<!DOCTYPE html>
<html xmlns:th="http//www/thymeleaf.org">

<head th:replace="fragments/frgmntlayout::site-head">
	<meta charset="UTF-8"/>
	<title>Thyme diving</title>
</head>

<body>
	<header th:replace="fragments/frgmntlayout::site-header"/>
	<h5>Welcome to Spring Thymeleaf2</h5>
	Now is: <b th:text="${execInfo.now.time}"></b>
	
		<!-- sidebar -->
	<aside>
	<h3>Recent Posts</h3>
	<a th:each="q1 : ${allposts}" th:text="${q1.title} + '-' + ${q1.id}" th:href="@{/posts/view/{id}/(id=${q1.id})}">on Html5.1</a>
	</aside>
</body>

</html>
