<!DOCTYPE html>
<html xmlns:th="http//www/thymeleaf.org">

<head th:replace="fragments/frgmntlayout::site-head">
	<meta charset="UTF-8"/>
	<title>Thyme diving</title>
</head>



<body>
	<header th:replace="fragments/frgmntlayout::site-header"/>
	<h5>Welcome to Spring Thymeleaf</h5>
	Now is: <b th:text="${execInfo.now.time}"></b>
	
	<span th:text="#{welocme.home}">Default Welcome message</span>


	<main id="posts">
	<div th:text="'record count ' + ${allposts.size()}"> </div>
		<article th:each="p1 : ${allposts}">
			<h3 class="title" th:text="${p1.title}">Post Title</h3>
			<span class="date"> <i>posted on</i> </span>
			<span th:text="${#dates.format(p1.date, 'dd-MM-yyyy')}">22-May-2017</span>
			<span th:if="${p1.author}" th:text=" 'by ' + ${p1.author.username} "></span>
			<p class="content" th:utext="${p1.body}">Post Content</p>
 
		</article>
	
	</main>
	

</body>




<footer th:replace="fragments/frgmntlayout::site-footer"/>
</html>
